:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: lightgrey;
}

svg {
  background: #fff;
}

.App {
  display: flex;
  column-gap: 10px;
}

/* .chart {
  flex: 1;
  border: 1px solid gray;
} */

.generate-data {
  width: 300px;
  border: 1px solid gray;
  padding: 5px;
}

h1 {
  font-size: 18px;
}
