* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: lightgrey;
}

.App {
  display: flex;
  column-gap: 10px;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid gray;
  background: #fff;
}

svg {
  background: #fff;
}

.chart {
  flex: 1;
  border: 1px solid gray;
  padding: 21px 0;
  overflow: hidden;
}

.generate-data {
  width: 250px;
  border: 1px solid gray;
  padding: 5px;
}

h1 {
  font-size: 18px;
}

input {
  width: 100%;
  margin-bottom: 21px;
  padding: 0 5px;
}

li {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 0 5px;
  margin-bottom: 5px;
}
